@import '../containers/media.scss';

// Руты для единых размеров


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --fz144: 9rem;
    --fz96: 6rem;
    --fz48: 3rem;
    --fz32: 2rem;
    --fz24: 1.5rem;
    --fz20: 1.25rem;
    --fz18: 1.125rem;
    --fz-w16: 1rem;
    @include mobile {
        --fz144: 4rem;
        --fz96: 3rem;
        --fz32: 1.5rem;
        --fz24: 1.333rem;
        --fz20: 1.333rem;
        --fz-w16: 1rem;
    }
}

@mixin mt-12 {
    margin-top: 12.5rem;
    @include mobile {
        margin-top: 6.667rem;
    }
}

@mixin h1 {
    font-size: var(--fz144);
    font-weight: 600;
    color: $white;
}

@mixin h2 {
    font-size: var(--fz96);
    font-weight: 500;
    line-height: 100%;
}

@mixin sb48 {
    font-size: var(--fz48);
    font-weight: 600;
}

@mixin h3 {
    font-size: var(--fz32);
    font-weight: 600;
    letter-spacing: -2%;
    color: $white;
}
@mixin r24 {
    font-size: var(--fz24);
    font-weight: 400;
    color: $white;
}

@mixin btn-title {
    font-size: var(--fz20);
    font-weight: 600;
    letter-spacing: -2%;
}

@mixin sb18 {
    font-size: var(--fz18);
    font-weight: 600;
    color: $white;
}

@mixin m16 {
    font-size: var(--fz-w16);
    font-weight: 500;
    color: $white;
}

@mixin fz-welc {
    font-size: var(--fz-w16);
    font-weight: 500;
    letter-spacing: -2%;
}

// Базовые миксины для комфорта

@mixin slider {
    max-width: 43.125rem;
    max-height: 40rem;
}

@mixin wh {
    width: 100%;
    height: 100%;
}

@mixin df_ac {
    display: flex;
    align-items: center;
}

@mixin df_fdc {
    display: flex;
    flex-direction: column;
}

@mixin df_fdc_ac {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin df_fdc_jcc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@mixin df_jcsb_fdc {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@mixin df_jcsb {
    display: flex;
    justify-content: space-between;
}

@mixin df_ac_jcc {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin bg_s {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


// Цвета на сайте

$black: #000000;
$white: #ffffff;
$dark: #404040;
$gray: #8C8C8C;
$grey: #BFBFBF;
$grey-bgc: #F2F2F2;
$blue: #2A1A80;
$nepal: #99A8BF;
$prem-gray: #9A999B;
$grey-txt: #999999;
$grey-op: #706C85;
$grey-footer: #666666;

// Базовые настройки

html{
    margin: 0;
    padding: 0;
    font-size: 16px;
    @include extra_large {
        font-size: 16px;
    }
    @include desktop {
      font-size: .8333vw;
    }
    @include mobile {
        font-size: 12px;
    }
}

body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    // Здесь ваш шрифт
    // font-family: 'Your font-family name', sans-serif;
}

.container {
    padding: 0 5rem;
    @include mobile {
        padding: 0 1.667rem;
    }
    @include mobile-small {
        padding: 0 0.833rem;
    }
}

hr {
    margin: 0;
}
h1, h2, h3, h4 {
    margin: 0;
}
button {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}
input, textarea {
    outline: none;
    &:hover {
        outline: none;
    }
    &.error {
        border-color: red!important;
    }
}
textarea {
    resize: none;
}