footer {
    .footer-block {
        padding: 7.5rem 5rem 5rem 5rem;
        background-color: $black;
        @include df_fdc;
        gap: 10.188rem;
        @include mobile-lite {
            padding: 3.333rem 1.667rem;
        }
        .address-auth-block {
            @include df_jcsb;
            @include mobile {
                flex-direction: column;
                gap: 6.667rem;
            }
            .footer-title-block {
                max-width: 42.5rem;
                @include df_fdc;
                gap: 5rem;
                @include mobile {
                    gap: 3.333rem;
                }
                .title {
                    @include sb48;
                    color: $white;
                    @include mobile-lite {
                        font-size: 2rem;
                    }
                }
                .contacts {
                    @include df_fdc;
                    gap: 1.25rem;
                    @include mobile {
                        gap: 1.667rem;
                    }
                    .footer-icon {
                        @include df_ac;
                        gap: 1.25rem;
                        a {
                            @include r24;
                            @include mobile-lite {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
            .footer-auth-block {
                max-width: 40.125rem;
                width: 100%;
                @include df_jcsb_fdc;
                @include mobile {
                    max-width: none;
                }
                .form {
                    @include df_fdc;
                    gap: 3.75rem;
                    @include mobile {
                        gap: 5rem;
                    }
                    .inp {
                        @include df_fdc;
                        label {
                            @include r24;
                            color: $grey-txt;
                        }
                        input {
                            background-color: transparent;
                            border: 0;
                            border-bottom: 0.125rem solid $grey-txt;
                            @include r24;
                        }
                        textarea {
                            background-color: transparent;
                            border: none;
                            color: $white;
                            @include r24;
                            border-bottom: 0.125rem solid $grey-txt;
                        }
                    }
                    .btn {
                        max-width: 21.25rem;
                        width: 100%;
                        @include mobile-lite {
                            max-width: none;
                        }
                    }
                }
            }
        }
        .footer-privacy-block {
            @include df_jcsb;
            align-items: center;
            @include mobile {
                flex-direction: column-reverse;
                align-items: flex-start;
                gap: 3.333rem;
            }
            .privacy-pol {
                @include m16;
                color: $grey-footer;
                max-width: 27.5rem;
                @include mobile-lite {
                    font-size: 1.167rem;
                }
            }
            .icon-logo {
                @include df_jcsb;
                align-items: center;
                max-width: 40.125rem;
                width: 100%;
                @include mobile {
                    max-width: none;
                }
                .icons {
                    display: flex;
                    gap: 1.25rem;
                    .icon {
                        max-width: 4rem;
                        max-height: 4rem;
                        img {
                            @include wh;
                        }
                    }
                }
                .logo {
                    max-width: 4.481rem;
                    max-height: 2.5rem;
                    img {
                        max-width: 4.481rem;
                        max-height: 2.5rem;
                    }
                }
            }
        }
    }
}