header {
    .header-block {
        padding-top: 1.563rem;
        padding-bottom: 1.563rem;
        @include df_ac;
        justify-content: space-between;
        .logo {
            img {
                max-width: 14.893rem;
                max-height: 1.563rem;
            }
        }
        .nav-menu {
            @include mobile {
                display: none
            }
            nav {
                ul {
                    @include df_ac_jcc;
                    gap: 3.75rem;
                    li {
                        a {
                            font-size: var(--fz18);
                            text-transform: uppercase;
                            color: $black
                        }
                    }
                }
            }
        }
        .btn-menu {
            @include df_ac_jcc;
            gap: 0.625rem;
            .icon {
                max-width: 2rem;
                img {
                    @include wh;
                }
                &.phone-icon {
                    display: none;
                }
            }
        }
    }
}