header {
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* добавляем тень для эффекта плавности */
    transition: top 0.3s ease;
    z-index: 50;
    &.sticky {
        top: -100px;
    }
    .header-block {
        padding-top: 1.563rem;
        padding-bottom: 1.563rem;
        @include df_ac;
        justify-content: space-between;
        .logo {
            img {
                max-width: 14.893rem;
                max-height: 1.563rem;
            }
        }
        .nav-menu {
            @include mobile {
                display: none
            }
            nav {
                ul {
                    @include df_ac_jcc;
                    gap: 3.75rem;
                    li {
                        transition: all .3s ease;
                        &:hover {
                            scale: (0.9);
                            transition: all .3s ease;
                        }
                        a {
                            font-size: var(--fz18);
                            text-transform: uppercase;
                            color: $black
                        }
                    }
                }
            }
        }
        .btn-menu {
            @include df_ac_jcc;
            gap: 0.625rem;
            .icon {
                max-width: 2rem;
                img {
                    @include wh;
                }
                &.phone-icon {
                    @include mobile {
                        display: none;
                    }
                }
            }
            .btn-header {
                @include mobile {
                    display: none;
                }
            }
            .burger-icon {
                display: none;
                transition: all .3s ease-in-out;
                @include mobile {
                    display: block;
                }
            }
        }
    }
}