.welcome-section {
    background-image: url(../images/header/welcome-gradient.png);
    .welcome-block {
        @include df_ac_jcc;
        gap: 2.5rem;
        .title {
            color: $white;
            @include fz-welc;
        }
    }
}

.hero-section {
    background-image: url(../images/sections/bgcs.png);
    @include bg_s;
    aspect-ratio: 16 / 7;
    .hero-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding-top: 5rem;
        .big-title {
            @include h1;
            line-height: 100%;
            max-width: 60%
        }
        .btn-and-titles {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            .btn-block {
                @include df_ac;
                gap: 2.5rem;
                padding-bottom: 5rem;
                padding-top: 5rem;
                max-width: 45rem;
                width: 100%;
                .btn {
                    white-space: nowrap;
                    flex: 1;
                }
            }
            .title-block {
                @include df_fdc;
                gap: 3.75rem;
                padding-bottom: 5rem;
                max-width: 40%;
                .title {
                    @include h3;
                    max-width: 65%;
                }
                .sub-title {
                    @include r24;
                    max-width: 55%;
                }
            }
        }
    }
}
.production-section {
    @include mt-12;
    .production-block {
        @include df_fdc;
        gap: 7.5rem;
        .big-title {
            @include h2;
        }
        .content {
            display: flex;
            justify-content: space-between;
            .title-and-logo {
                @include df_fdc;
                justify-content: space-between;
                .titles {
                    @include df_fdc;
                    gap: 2.5rem;
                    p {
                        @include r24;
                        color: $black;
                        max-width: 50%;
                        span {
                            font-weight: bold;
                        }
                    }
                }
            }
            .cards {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-row-gap: 6.25rem;
                grid-column-gap: 2.5rem;
                max-width: 1040px;
                width: 100%;
                .card {
                    @include df_fdc;
                    gap: 2.5rem;
                    .icon {
                        @include df_ac_jcc;
                        border-radius: 6px 6px 18px 6px;
                        // width: fit-content;
                        max-width: 6.5rem;
                        aspect-ratio: 1 / 1;
                        box-sizing: border-box;
                        // max-height: 6rem;
                        padding: 27px;
                        border: 2px dashed $nepal;
                    }
                    .title {
                        @include h3;
                        color: $black;
                        max-width: 70%;
                    }
                    .sub-title {
                        @include r24;
                        color: $black;
                    }
                }
            }
        }
    }
}
.advantages-section {
    @include mt-12;
    .advantages-block {
        display: flex;
        .blue-content {
            background: linear-gradient(0deg,rgba(0,0,0,.6),rgba(0,0,0,.6)),$blue;
            padding: 5rem;
            @include df_fdc;
            justify-content: space-between;
            .little-and-title {
                @include df_fdc;
                gap: 5rem;
                .little {
                    @include sb18;
                    text-transform: uppercase
                }
                .title {
                    @include h2;
                    color: $white;
                }
            }
            .desc-and-btn {
                @include df_fdc;
                gap: 3.75rem;
                .desc {
                    @include r24;
                }
                .btn {
                    width: fit-content;
                    font-weight: 600;
                }
            }
        }
        .video-points-cont {
            .video-content {
                video {
                    width: 100%;
                    height: auto;
                    aspect-ratio: 16 / 9;
                }
            }
            .points-content {
                padding: 3.75rem;
                @include df_fdc;
                gap: 7.5rem;
                .title {
                    @include sb48;
                    color: $blue;
                }
                .points {
                    nav {
                        ul {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            list-style: disc;
                            gap: 3.75rem;
                            @include r24;
                            color: $black;
                            li {
                                max-width: 85%;
                                &:nth-last-of-type(2) {
                                    max-width: 70%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.guarantee-section {
    @include mt-12;
    .guarantee-block {
        @include df_jcsb;
        .title {
            @include h2;
            max-width: 65rem;
            span {
                color: $blue;
            }
        }
        .logo {
            img {
                width: 4.481rem;
                height: 2.5rem;
            }
        }
    }
}
.instruction-section {
    @include mt-12;
    .instruction-block {
        @include df_jcsb;
        .line-card {
            @include df_fdc;
            gap: 2.5rem;
            max-width: 29.063rem;
            .title {
                @include h3;
                color: $black;
            }
            .sub-title {
                @include r24;
                color: $black;
                max-width: 28.125rem;
            }
        }
        .service-content {
            @include df_jcsb_fdc;
            .little-title {
                @include sb18;
                color: $grey-txt;
                max-width: 12.938rem;
                text-transform: uppercase;
            }
        }
        .mechanizm-content {
            @include df_jcsb_fdc;
            gap: 7.5rem;
            .mech-and-wash {
                display: flex;
                gap: 4.688rem;
            }
            .guar {
                max-width: 65.5rem;
                @include df_fdc;
                gap: 2.5rem;
                hr {
                    background-color: $nepal;
                }
                .title {
                    color: $nepal;
                    @include sb48;
                }
            }
        }
    }
}
.cards-section {
    margin: 12.5rem 2.5rem 0 2.5rem;
    .cards-block {
        @include df_jcsb;
        gap: 2.5rem;
        .card {
            padding: 5rem;
            @include df_jcsb_fdc;
            @include bg_s;
            aspect-ratio: 16 / 9;
            border-radius: 0.938rem;
            flex: 1;
            gap: 9rem;
            .sub-and-title {
                @include df_fdc;
                gap: 3.75rem;
                .title {
                    @include sb48;
                    color: $white;
                    max-width: 41.875rem;
                }
                .sub-title {
                    @include h3;
                    max-width: 40.563rem;
                }
            }
            .btn-and-cost {
                @include df_ac;
                gap: 2.5rem;
                .cost {
                    @include h3;
                }
                .btn {
                    font-size: var(--fz20);
                }
            }
            &.card-one {
                background-image: url(../images/sections/cardssec/first.png);
            }
            &.card-two {
                background-image: url(../images/sections/cardssec/second.png);
            }
        }
    }
}
.slider-section {
    @include mt-12;
    .swiper {
        .swiper-wrapper {
            .swiper-slide {
                display: flex;
                border-radius: 1.125rem 1.125rem 2.25rem 1.125rem;
                padding: 1.25rem;
                gap: 5rem;
                background-color: $nepal;
                .img {
                    @include slider;
                    @include wh;
                    img {
                        @include wh;
                    }
                }
                .other {
                    @include df_jcsb_fdc;
                    width: 100%;
                    .sub-and-title {
                        @include df_fdc;
                        gap: 3.75rem;
                        .title {
                            @include sb48;
                            color: $white;
                            max-width: 42.938rem;
                        }
                        .sub-title {
                            @include r24;
                            max-width: 39.813rem;
                        }
                        .desc {
                            @include m16;
                            max-width: 25.813rem;
                        }
                    }
                    .cost-and-arr {
                        @include df_jcsb;
                        .cost {
                            @include sb48;
                            color: $white;
                        }
                        .arr {
                            @include df_ac_jcc;
                            gap: 1.25rem;
                            .arrow {
                                padding: 1.25rem;
                                width: 4.75rem;
                                height: 4.75rem;
                                background-color: $white;
                                border-radius: 100rem;
                                @include df_ac_jcc;
                            }
                        }
                    }
                }
            }
        }
    }
}
.feedback-section {
    @include mt-12;
    .feedback-block {
        @include df_fdc;
        gap: 3.75rem;
        .little-title {
            @include sb18;
            text-transform: uppercase;
            color: $grey-txt;
        }
        .authorization {
            @include df_jcsb;
            .title-icon {
                @include df_jcsb_fdc;
                .title-and-desc {
                    @include df_fdc;
                    gap: 3.75rem;
                    .title {
                        @include sb48;
                        max-width: 55.313rem;
                    }
                    .desc {
                        @include r24;
                        color: $black;
                    }
                }
                .icons {
                    @include df_ac;
                    gap: 1.25rem;
                }
            }
            .form {
                max-width: 40.125rem;
                width: 100%;
                @include df_fdc;
                gap: 3.75rem;
                .btn {
                    max-width: 21.25rem;
                    width: 100%
                }
                .inp {
                    @include df_fdc;
                    label {
                        @include r24;
                        color: $grey-txt;
                    }
                    input {
                        border: none;
                        border-bottom: 2px solid $grey-txt;
                        padding-top: 2.5rem;
                        @include r24;
                        color: $black;
                        transition: all .3s;
                        &:hover {
                            border-bottom: 2px solid $black;
                            transition: all .3s;
                        }
                    }
                    &:last-of-type {
                        gap: 6.25rem;
                    }
                }
            }
        }
    }
}
.optional-section {
    @include mt-12;
    .optional-block {
        display: flex;
        max-height: 100vh;
        .video-content {
            flex: 1;
            video {
                height: 100%;
                width: 60rem;
            }
        }
        .info-block {
            background: linear-gradient(0deg,rgba(0,0,0,.6),rgba(0,0,0,.6)),$blue;
            padding: 5rem;
            @include df_jcsb_fdc;
            flex: 1;
            .title-block {
                @include df_fdc;
                gap: 5rem;
                .little-title {
                    @include sb18;
                }
                .title {
                    @include h2;
                    color: $white;
                }
                .sub-title {
                    @include h3;
                    color: $grey-op;
                    max-width: 34rem
                }
                .points {
                    nav {
                        ul {
                            @include r24;
                            @include df_fdc;
                            gap: 1.875rem;
                            padding-left: 1.875rem;
                            li {
                                list-style: disc;
                            }
                        }
                    }
                }
            }
            .cost {
                @include sb48;
                color: $white;
            }
        }
    }
}