.accordion-item {
    cursor: pointer;
    @include df_fdc;
    gap: 1.25rem;
    hr {
        background-color: $grey-txt;
        border: 1px solid $grey-txt;
    }
    .accordion-header {
        pointer-events: none;
        @include df_jcsb;
        align-items: center;
        border-top: 2px solid $grey-txt;
        padding-top: 1.25rem;
        transition: all .3s;
        .title {
            @include h3;
            color: $grey;
            &:hover {
                scale: (0.9);
            }
        }
        .plus-btn {
            @include sb48;
            font-weight: 400;
            color: $grey-txt;
            transition: all .3s ease-in-out;
            transform: rotate(0);
        }
        &.show {
            padding-top: 2.5rem;
            transition: all .3s;
            border-top: 2px solid $black;
            .title {
                color: $black;
            }
            .plus-btn {
                transform: rotate(135deg);
                color: $black;
            }
        }
    }
    .accordion-body {
        max-height: 0;
        overflow: hidden;
        pointer-events: none;
        transition: max-height 0.3s ease-out;
        @include r24;
        color: $black;
        &.hover {
            scale: (0.9);
            transition: all .3s;
        }
        .accordion-content {
            padding-bottom: 30px;
        }
    }
}