.accordion-item {
    cursor: pointer;
    @include df_fdc;
    gap: 2.5rem;
    .accordion-header {
        pointer-events: none;
        @include df_jcsb;
        align-items: center;
        .title {
            @include h3;
            color: $grey;
            &:hover {
                scale: (0.9);
            }
        }
        .plus-btn {
            svg {
                transition: all .3s ease-in-out;
                transform: rotate(0);
            }
        }
        &.show {
            .title {
                color: $black;
            }
            .plus-btn {
                &:hover {
                    scale: (0.9);
                    transition: all .3s;
                }
                svg {
                    transform: rotate(135deg);
                    stroke: black;
                    stroke-opacity: 1;
                }
            }
        }
    }
    .accordion-body {
        max-height: 0;
        overflow: hidden;
        pointer-events: none;
        transition: max-height 0.3s ease-out;
        @include r24;
        color: $black;
        &.hover {
            scale: (0.9);
            transition: all .3s;
        }
        .accordion-content {
            padding-bottom: 30px;
        }
    }
}