.btn {
    padding: 1.125rem 2rem;
    border-radius: 6px 6px 18px 6px;
    cursor: pointer;
    transition: all .3s ease-in;
    font-size: var(--fz18);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Hauora';
    &:hover {
        scale: (0.9);
    }

    &.welcome-btn {
        background-color: transparent;
        font-size: var(--fz18);
        color: $prem-gray;
        text-transform: uppercase;
        padding: 0;
    }

    &.white {
        background-color: $white;
        color: $black;
        font-size: var(--fz20);
    }
    &.transparent {
        background-color: transparent;
        border: 1px solid $white;
        color: $white;
        font-size: var(--fz20);
    }
    &.white-blue {
        background-color: $white;
        color: #2A1A80;
        font-size: var(--fz20);
    }
    &.blue {
        background-color: #2A1A80;
        color: $white;
        font-size: var(--fz20);
    }
}