$breakpoint_extra_large: 7681px;
$breakpoint_desktop: 1920px;
$breakpoint_desktop-lite: 1366px;
$breakpoint_desktop-1160: 1160px;
$breakpoint_mobile: 768px;
$breakpoint_mobile-lite: 520px;
$breakpoint_mobile-small: 280px;