* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --fz144: 9rem;
  --fz96: 6rem;
  --fz48: 3rem;
  --fz32: 2rem;
  --fz24: 1.5rem;
  --fz20: 1.25rem;
  --fz18: 1.125rem;
  --fz-w16: 1rem;
}
@media (max-width: 768px) {
  :root {
    --fz144: 4rem;
    --fz96: 3rem;
    --fz32: 2.667rem;
    --fz24: 1.167rem;
    --fz20: 1.333rem;
    --fz-w16: 1rem;
  }
}

html {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
@media (max-width: 7681px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 1920px) {
  html {
    font-size: 0.8333vw;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 5rem;
}
@media (max-width: 768px) {
  .container {
    padding: 1.667rem;
  }
}

hr {
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

input, textarea {
  outline: none;
}
input:hover, textarea:hover {
  outline: none;
}

.welcome-section {
  background-image: url(../images/header/welcome-gradient.png);
}
.welcome-section .welcome-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.welcome-section .welcome-block .title {
  color: #ffffff;
  font-size: var(--fz-w16);
  font-weight: 600;
  letter-spacing: -2%;
}

.hero-section {
  background-image: url(../images/sections/bgcs.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 16/7;
}
.hero-section .hero-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 5rem;
}
.hero-section .hero-block .big-title {
  font-size: var(--fz144);
  font-weight: 600;
  letter-spacing: -0.27rem;
  color: #ffffff;
  line-height: 100%;
  max-width: 60%;
}
.hero-section .hero-block .btn-and-titles {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.hero-section .hero-block .btn-and-titles .btn-block {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding-bottom: 5rem;
  padding-top: 5rem;
  max-width: 45rem;
  width: 100%;
}
.hero-section .hero-block .btn-and-titles .btn-block .btn {
  white-space: nowrap;
  flex: 1;
}
.hero-section .hero-block .btn-and-titles .title-block {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  padding-bottom: 5rem;
  max-width: 40%;
}
.hero-section .hero-block .btn-and-titles .title-block .title {
  font-size: var(--fz32);
  font-weight: 600;
  letter-spacing: -2%;
  color: #ffffff;
  max-width: 65%;
}
.hero-section .hero-block .btn-and-titles .title-block .sub-title {
  font-size: var(--fz24);
  font-weight: 400;
  color: #ffffff;
  max-width: 55%;
}

.production-section {
  margin-top: 12.5rem;
}
.production-section .production-block {
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
}
.production-section .production-block .big-title {
  font-size: var(--fz96);
  font-weight: 500;
  letter-spacing: -0.27rem;
  line-height: 100%;
}
.production-section .production-block .content {
  display: flex;
  justify-content: space-between;
}
.production-section .production-block .content .title-and-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.production-section .production-block .content .title-and-logo .titles {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.production-section .production-block .content .title-and-logo .titles p {
  font-size: var(--fz24);
  font-weight: 400;
  color: #ffffff;
  color: #000000;
  max-width: 50%;
}
.production-section .production-block .content .title-and-logo .titles p span {
  font-weight: bold;
}
.production-section .production-block .content .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 6.25rem;
  grid-column-gap: 2.5rem;
  max-width: 1040px;
  width: 100%;
}
.production-section .production-block .content .cards .card {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.production-section .production-block .content .cards .card .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px 6px 18px 6px;
  max-width: 6.5rem;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  padding: 27px;
  border: 2px dashed #99A8BF;
}
.production-section .production-block .content .cards .card .title {
  font-size: var(--fz32);
  font-weight: 600;
  letter-spacing: -2%;
  color: #ffffff;
  color: #000000;
  max-width: 70%;
}
.production-section .production-block .content .cards .card .sub-title {
  font-size: var(--fz24);
  font-weight: 400;
  color: #ffffff;
  color: #000000;
}

.advantages-section {
  margin-top: 12.5rem;
}
.advantages-section .advantages-block {
  display: flex;
}
.advantages-section .advantages-block .blue-content {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), #2A1A80;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.advantages-section .advantages-block .blue-content .little-and-title {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.advantages-section .advantages-block .blue-content .little-and-title .little {
  font-size: var(--fz18);
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}
.advantages-section .advantages-block .blue-content .little-and-title .title {
  font-size: var(--fz96);
  font-weight: 500;
  letter-spacing: -0.27rem;
  line-height: 100%;
  color: #ffffff;
}
.advantages-section .advantages-block .blue-content .desc-and-btn {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}
.advantages-section .advantages-block .blue-content .desc-and-btn .desc {
  font-size: var(--fz24);
  font-weight: 400;
  color: #ffffff;
}
.advantages-section .advantages-block .blue-content .desc-and-btn .btn {
  width: fit-content;
  font-weight: 600;
}
.advantages-section .advantages-block .video-points-cont .video-content video {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
.advantages-section .advantages-block .video-points-cont .points-content {
  padding: 3.75rem;
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
}
.advantages-section .advantages-block .video-points-cont .points-content .title {
  font-size: var(--fz48);
  font-weight: 600;
  color: #2A1A80;
}
.advantages-section .advantages-block .video-points-cont .points-content .points nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: disc;
  gap: 3.75rem;
  font-size: var(--fz24);
  font-weight: 400;
  color: #ffffff;
  color: #000000;
}
.advantages-section .advantages-block .video-points-cont .points-content .points nav ul li {
  max-width: 85%;
}
.advantages-section .advantages-block .video-points-cont .points-content .points nav ul li:nth-last-of-type(2) {
  max-width: 70%;
}

.guarantee-section {
  margin-top: 12.5rem;
}
.guarantee-section .guarantee-block {
  display: flex;
  justify-content: space-between;
}
.guarantee-section .guarantee-block .title {
  font-size: var(--fz96);
  font-weight: 500;
  letter-spacing: -0.27rem;
  line-height: 100%;
  max-width: 65rem;
}
.guarantee-section .guarantee-block .title span {
  color: #2A1A80;
}
.guarantee-section .guarantee-block .logo img {
  width: 4.481rem;
  height: 2.5rem;
}

.instruction-section {
  margin-top: 12.5rem;
}
.instruction-section .instruction-block {
  display: flex;
  justify-content: space-between;
}
.instruction-section .instruction-block .line-card {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  max-width: 29.063rem;
}
.instruction-section .instruction-block .line-card .title {
  font-size: var(--fz32);
  font-weight: 600;
  letter-spacing: -2%;
  color: #ffffff;
  color: #000000;
}
.instruction-section .instruction-block .line-card .sub-title {
  font-size: var(--fz24);
  font-weight: 400;
  color: #ffffff;
  color: #000000;
  max-width: 28.125rem;
}
.instruction-section .instruction-block .service-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.instruction-section .instruction-block .service-content .little-title {
  font-size: var(--fz18);
  font-weight: 600;
  color: #ffffff;
  color: #999999;
  max-width: 12.938rem;
  text-transform: uppercase;
}
.instruction-section .instruction-block .mechanizm-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 7.5rem;
}
.instruction-section .instruction-block .mechanizm-content .mech-and-wash {
  display: flex;
  gap: 4.688rem;
}
.instruction-section .instruction-block .mechanizm-content .guar {
  max-width: 65.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.instruction-section .instruction-block .mechanizm-content .guar hr {
  background-color: #99A8BF;
}
.instruction-section .instruction-block .mechanizm-content .guar .title {
  color: #99A8BF;
  font-size: var(--fz48);
  font-weight: 600;
}

.cards-section {
  margin: 12.5rem 2.5rem 0 2.5rem;
}
.cards-section .cards-block {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}
.cards-section .cards-block .card {
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 16/9;
  border-radius: 0.938rem;
  flex: 1;
  gap: 9rem;
}
.cards-section .cards-block .card .sub-and-title {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}
.cards-section .cards-block .card .sub-and-title .title {
  font-size: var(--fz48);
  font-weight: 600;
  color: #ffffff;
  max-width: 41.875rem;
}
.cards-section .cards-block .card .sub-and-title .sub-title {
  font-size: var(--fz32);
  font-weight: 600;
  letter-spacing: -2%;
  color: #ffffff;
  max-width: 40.563rem;
}
.cards-section .cards-block .card .btn-and-cost {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.cards-section .cards-block .card .btn-and-cost .cost {
  font-size: var(--fz32);
  font-weight: 600;
  letter-spacing: -2%;
  color: #ffffff;
}
.cards-section .cards-block .card .btn-and-cost .btn {
  font-size: var(--fz20);
}
.cards-section .cards-block .card.card-one {
  background-image: url(../images/sections/cardssec/first.png);
}
.cards-section .cards-block .card.card-two {
  background-image: url(../images/sections/cardssec/second.png);
}

.slider-section {
  margin-top: 12.5rem;
}
.slider-section .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  border-radius: 1.125rem 1.125rem 2.25rem 1.125rem;
  padding: 1.25rem;
  gap: 5rem;
  background-color: #99A8BF;
}
.slider-section .swiper .swiper-wrapper .swiper-slide .img {
  max-width: 43.125rem;
  max-height: 40rem;
  width: 100%;
  height: 100%;
}
.slider-section .swiper .swiper-wrapper .swiper-slide .img img {
  width: 100%;
  height: 100%;
}
.slider-section .swiper .swiper-wrapper .swiper-slide .other {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
.slider-section .swiper .swiper-wrapper .swiper-slide .other .sub-and-title {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}
.slider-section .swiper .swiper-wrapper .swiper-slide .other .sub-and-title .title {
  font-size: var(--fz48);
  font-weight: 600;
  color: #ffffff;
  max-width: 42.938rem;
}
.slider-section .swiper .swiper-wrapper .swiper-slide .other .sub-and-title .sub-title {
  font-size: var(--fz24);
  font-weight: 400;
  color: #ffffff;
  max-width: 39.813rem;
}
.slider-section .swiper .swiper-wrapper .swiper-slide .other .sub-and-title .desc {
  font-size: var(--fz-w16);
  font-weight: 500;
  color: #ffffff;
  max-width: 25.813rem;
}
.slider-section .swiper .swiper-wrapper .swiper-slide .other .cost-and-arr {
  display: flex;
  justify-content: space-between;
}
.slider-section .swiper .swiper-wrapper .swiper-slide .other .cost-and-arr .cost {
  font-size: var(--fz48);
  font-weight: 600;
  color: #ffffff;
}
.slider-section .swiper .swiper-wrapper .swiper-slide .other .cost-and-arr .arr {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}
.slider-section .swiper .swiper-wrapper .swiper-slide .other .cost-and-arr .arr .arrow {
  padding: 1.25rem;
  width: 4.75rem;
  height: 4.75rem;
  background-color: #ffffff;
  border-radius: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback-section {
  margin-top: 12.5rem;
}
.feedback-section .feedback-block {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}
.feedback-section .feedback-block .little-title {
  font-size: var(--fz18);
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  color: #999999;
}
.feedback-section .feedback-block .authorization {
  display: flex;
  justify-content: space-between;
}
.feedback-section .feedback-block .authorization .title-icon {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.feedback-section .feedback-block .authorization .title-icon .title-and-desc {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}
.feedback-section .feedback-block .authorization .title-icon .title-and-desc .title {
  font-size: var(--fz48);
  font-weight: 600;
  max-width: 55.313rem;
}
.feedback-section .feedback-block .authorization .title-icon .title-and-desc .desc {
  font-size: var(--fz24);
  font-weight: 400;
  color: #ffffff;
  color: #000000;
}
.feedback-section .feedback-block .authorization .title-icon .icons {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.feedback-section .feedback-block .authorization .form {
  max-width: 40.125rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}
.feedback-section .feedback-block .authorization .form .btn {
  max-width: 21.25rem;
  width: 100%;
}
.feedback-section .feedback-block .authorization .form .inp {
  display: flex;
  flex-direction: column;
}
.feedback-section .feedback-block .authorization .form .inp label {
  font-size: var(--fz24);
  font-weight: 400;
  color: #ffffff;
  color: #999999;
}
.feedback-section .feedback-block .authorization .form .inp input {
  border: none;
  border-bottom: 2px solid #999999;
  padding-top: 2.5rem;
  font-size: var(--fz24);
  font-weight: 400;
  color: #ffffff;
  color: #000000;
  transition: all 0.3s;
}
.feedback-section .feedback-block .authorization .form .inp input:hover {
  border-bottom: 2px solid #000000;
  transition: all 0.3s;
}
.feedback-section .feedback-block .authorization .form .inp:last-of-type {
  gap: 6.25rem;
}

.optional-section {
  margin-top: 12.5rem;
}
.optional-section .optional-block {
  display: flex;
  max-height: 100vh;
}
.optional-section .optional-block .video-content {
  flex: 1;
}
.optional-section .optional-block .video-content video {
  height: 100%;
  width: 60rem;
}
.optional-section .optional-block .info-block {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), #2A1A80;
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
}
.optional-section .optional-block .info-block .title-block {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.optional-section .optional-block .info-block .title-block .little-title {
  font-size: var(--fz18);
  font-weight: 600;
  color: #ffffff;
}
.optional-section .optional-block .info-block .title-block .title {
  font-size: var(--fz96);
  font-weight: 500;
  letter-spacing: -0.27rem;
  line-height: 100%;
  color: #ffffff;
}
.optional-section .optional-block .info-block .title-block .sub-title {
  font-size: var(--fz32);
  font-weight: 600;
  letter-spacing: -2%;
  color: #ffffff;
  color: #706C85;
  max-width: 34rem;
}
.optional-section .optional-block .info-block .title-block .points nav ul {
  font-size: var(--fz24);
  font-weight: 400;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  padding-left: 1.875rem;
}
.optional-section .optional-block .info-block .title-block .points nav ul li {
  list-style: disc;
}
.optional-section .optional-block .info-block .cost {
  font-size: var(--fz48);
  font-weight: 600;
  color: #ffffff;
}

.btn {
  padding: 1.125rem 2rem;
  border-radius: 6px 6px 18px 6px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  font-size: var(--fz18);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Hauora";
}
.btn:hover {
  scale: 0.9;
}
.btn.welcome-btn {
  background-color: transparent;
  font-size: 18px;
  color: #9A999B;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .btn.welcome-btn {
    font-size: 16px;
  }
}
.btn.white {
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
}
.btn.transparent {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 20px;
}
.btn.white-blue {
  background-color: #ffffff;
  color: #2A1A80;
}
.btn.blue {
  background-color: #2A1A80;
  color: #ffffff;
}

@media (max-width: 1366px) {
  .first-que .question .title {
    max-width: 60%;
  }
}

.accordion-item {
  cursor: pointer;
}
.accordion-item .accordion-header {
  pointer-events: none;
}
.accordion-item .accordion-header .title {
  color: #BFBFBF;
}
.accordion-item .accordion-header .title:hover {
  scale: 0.9;
}
.accordion-item .accordion-header .plus-btn svg {
  transition: all 0.3s ease-in-out;
  transform: rotate(0);
}
.accordion-item .accordion-header.show .plus-btn:hover {
  scale: 0.9;
  transition: all 0.3s;
}
.accordion-item .accordion-header.show .plus-btn svg {
  transform: rotate(135deg);
}
.accordion-item .accordion-header.show .plus-btn svg path {
  fill: #000000;
}
.accordion-item .accordion-body {
  max-height: 0;
  overflow: hidden;
  pointer-events: none;
  transition: max-height 0.3s ease-out;
}
.accordion-item .accordion-body.hover {
  scale: 0.9;
  transition: all 0.3s;
}

header .header-block {
  padding-top: 1.563rem;
  padding-bottom: 1.563rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-block .nav-menu nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.75rem;
}
header .header-block .nav-menu nav ul li {
  font-size: var(--fz18);
  text-transform: uppercase;
}
header .header-block .btn-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}

@font-face {
  font-family: "Hauora";
  src: local("Hauora"), url("../fonts/HauoraGX.ttf");
}
body {
  font-family: "Hauora";
  font-weight: 800 !important;
}

/*# sourceMappingURL=main.css.map */
